<!DOCTYPE html>
<html>
  <head>
    <title>선택해주세요</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/test">메인페이지 이동</a></li>
      <li><a href="/board">게시판으로 이동</a></li>
    </ul>
    
  </body>

</html>
